/* --- Estilos Generales --- */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
}
/* --- Contenedor Principal --- */
.container {
    max-width: 100%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --- Formularios y Botones --- */
.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 6px;
}
/*formularios*/
form {
    margin: 0;
    border-color: #1565c0;
}
.center-form {
    display: flex;
    margin: 0px auto;
}
/*filtros*/
fieldset {
    margin: 0;
    border-color: #1565c0;
    border-width: 1px;
    font-family: "Monaco", "Lucida Console", "Consolas", "Courier New", monospace;
}
legend{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #1565c0;
}
input[type="submit"] {
    background-color: #1565c0; /* Azul principal */
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
input[type="checkbox"] {
  accent-color: #f9801d; /*naranja*/
}
.input-specs{
    color: #0d47a1; /* Azul oscuro */
    border-width: 1px;
    font-family: "Monaco", "Lucida Console", "Consolas", "Courier New", monospace;
    margin: 0;
}
/*radio buttons*/
.radio-inline{
  display: inline-block; /* or inline */
  margin-right: 10px; /* Adds spacing between the radio button and its label */
  margin-left: 10px;
  accent-color: #f9801d; /*naranja*/
}
/* --- Encabezados y Títulos --- */
h1 {
    color: #0d47a1; /* Azul oscuro */
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
h3 {
    color: #0d47a1; /* Azul oscuro */
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}
b {
    font-size: 1.1em;
    color: #333;
}

/* --- Estilos de la Tabla --- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
th, td {
    border: 1px solid #e0e0e0;
    padding: 10px;
}
th {
    background-color: #1e88e5; /* Azul más claro para encabezado */
    color: white;
    font-weight: bold;
    text-align: center;
}
th.bold-text {
  font-weight: bold;
}
td {
    font-size: 12px;
    text-align: left;
}

button {
    background-color: #1565c0; /* Azul principal */
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input[type="text"]{
    color: #1565c0; /* Azul principal */
    padding: 3px 3px;
    background-color: white;
    border:1px solid #1565c0;
    border-radius: 5px;
    font-size: 12px;
}

#mygraph{
    width: 100%;
    height: 1000px;
    border: 1px solid #0d47a1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
#nodeInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}